/**
* FONTS
*/
	$FONT_ROBOTO : 'Roboto', sans-serif;

/**
* Colors of site
*/
	$COLOR_1  : #CCCCCC;
	$LIST_BOOKS_TITLE : #baf2d1;
	$H1_BOOKS_TITLE  : #CCCCCC;

/**
* BASE Color
*/
	$BODY_COLOR : #ffffff;